<h1> Welcome to Our<br>
        Dental clinic<br>
        A Smile Changes Everying...</h1>
        
        font-size: 25px;
        text-align: left;
        float: left;
        align-items: center;
        font-size: 25px;
        float: left;
        align-items: left;
      }